<div class="container">
  <h1><strong>My Bookings</strong></h1>
  <ul class="booking-list">
    <% @bookings.each do |booking| %>
      <li><%= booking.car.brand %></li>
      <li><%= booking.car.model %></li>
      <li><%= image_tag booking.car.images, class: "booking-img" %></li>
    <% end %>
  </ul>
</div>
